<template name="header">
    <div class="ui menu">
      <a class="active item" href="{{pathFor 'homepage'}}">
        <i class="home icon"></i> Home
      </a>
      <a class="item" href="{{pathFor 'survey'}}">
        <i class="home icon">Survey</i>
      </a>
      <a class="item" href="{{pathFor 'contact'}}">
        <i class="mail icon"></i> Contact
      </a>

      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
</template>